# dependencies
/node_modules

# build
/dist
/.vite
/.parcel-cache

# logs
*.log
firebase-debug.log
firestore-debug.log

# environment
.env
.env.*
!.env.example   # サンプルだけ残したい場合

# system
.DS_Store
Thumbs.db

# tests
/coverage